// Stream Ember Runtime (RDR2) - Windows version resource.
// Values come from Directory.Build.props through ScriptHookRDRDotNet.vcxproj (ResourceCompile definitions).
// ASCII only on purpose (no code page issues in rc.exe).

#include "winres.h"

#define SE_STRINGIZE_INNER(value) #value
#define SE_STRINGIZE(value) SE_STRINGIZE_INNER(value)

#ifndef SE_VER_MAJOR
#define SE_VER_MAJOR 0
#define SE_VER_MINOR 0
#define SE_VER_PATCH 0
#define SE_VERSION_TOKEN 0.0.0-dev
#define SE_FILE_VERSION_TOKEN 0.0.0.0
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SE_VER_MAJOR,SE_VER_MINOR,SE_VER_PATCH,0
 PRODUCTVERSION SE_VER_MAJOR,SE_VER_MINOR,SE_VER_PATCH,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Stream Ember"
            VALUE "FileDescription", "Stream Ember .NET script runtime for Red Dead Redemption 2"
            VALUE "FileVersion", SE_STRINGIZE(SE_FILE_VERSION_TOKEN)
            VALUE "InternalName", "StreamEmber.Runtime.RDR2"
            VALUE "LegalCopyright", "(c) 2026 Stream Ember - Amiral Router"
            VALUE "OriginalFilename", "StreamEmber.Runtime.RDR2.asi"
            VALUE "ProductName", "Stream Ember Runtime"
            VALUE "ProductVersion", SE_STRINGIZE(SE_VERSION_TOKEN)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
